@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,700;0,7..72,900;1,7..72,400;1,7..72,700;1,7..72,900');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,600;1,400;1,600&display=swap');
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    overflow-x: hidden;
}
.button-container {
    display: flex;
    gap: 20px
}
h1, h2 {
    font-family: 'Literata', serif;
    margin: 0;
    text-transform: uppercase;
    font-size: 3em;
}
h3,h4,h5,h6 {
    font-size: 2em;
    margin: 0;
}
p {
    font-size: 1.4em;
    line-height: 1.4;
    margin: 0
}

a{
    color: inherit;
}

button {
    font-family: inherit;
    font-size: inherit;
    
}

input{
    font-family: inherit;
    font-size: inherit;
    padding: 10px 20px;
    border: none;
    background-color: white;
}

/* nav {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 7vh;
    gap: 3vw;
    padding: 0.5vh 5vw;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 2vw;
} */

.background {
    position: fixed;
    object-fit: cover;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: 10px;
}

.background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, black);
    z-index: 2;
}

header{
    box-sizing: border-box;
    color: white;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(transparent, black);
    padding: 50px !important;
}

header h1{
    font-size: 12vw;
    z-index: 1;
}
header p {
    max-width: 600px;
}

.stop-flashing {
    animation: none !important; /* Disable animation with higher priority */
}

#scroll-arrow{
    bottom: 10px;
    /* left: 50%; */
    font-size: 5em;
    color: #ffffff;
    opacity: 0.5;
    animation: arrow-flash 3s infinite;
    transition: opacity 0.3s ease;
    width: 5px;
    transform: translateX(-0.15em);
    text-align: center;
    user-select: none;
}
#scroll-arrow:hover {
    opacity: 1;
}
@keyframes arrow-flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button {
    cursor: pointer;
    width: clamp(50px, 200px, 50vw);
    border: solid 1px white;
    margin-top: 30px;
    color: white;
    border-radius: 100px;
    padding: 0px 20px 5px 20px;
    font-size: 1.5em;
    font-family: 'literata', serif;
    text-decoration: none;
    text-align: center;
    font-style: italic;
    background-color: #000000; /* Base background color */
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(30, 16, 74, 0.7), rgba(72, 31, 105, 0.7), rgba(98, 57, 32, 0.7)); /* Transparent gradient */
    background-size: 100%;
    background-position: center;
    background-blend-mode: overlay;
    user-select: none;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease; /* Adding opacity transition */
}

.button:hover {
    color: white;
    background-color: #623920; /* Solid background transition color */
    transform: scale(1.1); /* Scaling effect */
    opacity: 1; /* Make sure the gradient is fully visible */
}

section, header, footer {
    padding: 30px;
}

section {
    background-color: white;
}

section h2{
    width: 100%;
    text-align: center;
    margin-bottom: 1vh;
}

#publications {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 30px;
    padding: 50px;
    margin: -30px -40px -20px -40px;
}

#publications.closed{
    height: 470px !important;
    grid-auto-rows: 500px;
}


.publication {
    width: 330px;
    height: 450px;
    background-color: black;
    border-radius: 5px;
    flex-shrink: 0;
    box-sizing: border-box;
    background-clip: padding-box;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.285);
    box-shadow: 1px 4px 5px 0 rgba(0,0,0,.4);
    margin: 0 auto;
    transition: scale 0.3s ease, translate 0.3s ease, box-shadow 0.3s ease;
}

.publication:hover{
    scale: 1.04;
    translate: 0px -10px;
    box-shadow: 5px 15px 25px 0 rgba(0,0,0,.4);
}

.publication img{
    width: 100%;
    height: 100%;   
}

@media screen and (max-width: 1200px) {
    #publications {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    #publications.closed{
        height: 280px !important;
        grid-auto-rows: 400px;
    }

    .publication{
        width: 200px;
        height: 280px;
    }
}

#expand-publications{
    display: block;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    /* border-radius: 100px; */
    border: none;
    background-color: lightgray;
}

#expand-publications:hover{
    background-color: #1e104a;
    color: white;
}

footer {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.officers{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 40px 0px;
}

.officer-section{
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-bottom: 25px;
}

.officer-section h3{
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #00faff;
    font-weight: 600;
}

footer input{
    width: 40%;
    margin: 10px 0px;
}

#submit {
    padding: 10px 20px;
    border: none;
    background-color: white;
    width: 10%;
    cursor: pointer;
}