@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,700;0,7..72,900;1,7..72,400;1,7..72,700;1,7..72,900');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,600;1,400;1,600&display=swap');
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    overflow: hidden;
}

h1, h2 {
    font-family: 'Literata', serif;
    margin: 0;
    text-transform: uppercase;
    font-size: 3em;
}
h3,h4,h5,h6 {
    font-size: 2em;
    margin: 0;
}
p {
    font-size: 1.4em;
    line-height: 1.4;
    margin: 0
}

a{
    color: inherit;
}

button {
    font-family: inherit;
    font-size: inherit;
}

input{
    font-family: inherit;
    font-size: inherit;
    padding: 10px 20px;
    border: none;
    background-color: white;
}

#parallax-wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    overscroll-behavior: auto;
    position: relative;
}

/* nav {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 7vh;
    gap: 3vw;
    padding: 0.5vh 5vw;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 2vw;
} */

.background {
    position: fixed;
    object-fit: cover;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Sending the image farther back into the screen and then raise its scale to create the parallax effect */
    transform: translateZ(-50px);
    scale: 6;

    /* Fallback background (there should be an image) */
    background: linear-gradient(black, rgb(25, 9, 40),rgb(59, 59, 139));
    pointer-events: none;
    /* overflow: scroll; */
}
.background img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

header{
    box-sizing: border-box;
    position: relative;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;
    background: linear-gradient(transparent, black);
    padding: 50px !important;
}

header h1{
    font-size: 12vw;
    z-index: 1;
}
header p {
    max-width: 600px;
}

.button {
    cursor: pointer;
    width: clamp(50px, 200px, 50vw);
    border: solid 1px white;
    margin-top: 30px;
    color: white;
    border-radius: 100px;
    padding: 0px 20px 5px 20px;
    font-size: 1.5em;
    font-family: 'literata', serif;
    text-decoration: none;
    text-align: center;
    font-style: italic;
}
.button:hover {
    color: white;
    background-image: linear-gradient(90deg, #000000 0%, #1e104a, #481f69, #623920); 
}

section, header, footer {
    padding: 30px;
}

section {
    background-color: white;
}

section h2{
    width: 100%;
    text-align: center;
    margin-bottom: 1vh;
}

#publications {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 30px;
    row-gap: 60px;
    overflow: hidden;
    padding: 50px;
    margin: -30px -40px 20px -40px;
}

#publications.closed{
    height: 440px !important;
}

#publications.open{
    padding-bottom: 70px;
}

#publications:after {
    content: '';
    background-color: #00000000;
    /* box-shadow: inset 0 -100px 50px -40px white; */
    position: absolute;
    pointer-events: none;
    top: 0px;
    width: 100%;
    height: 100%;
}

.publication {
    width: 300px;
    height: 450px;
    background-color: black;
    border-radius: 5px;
    flex-shrink: 0;
    box-sizing: border-box;
    background-clip: padding-box;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.285);
    box-shadow: 1px 4px 5px 0 rgba(0,0,0,.4);
    transition: box-shadow 0.2s, scale 0.2s, translate, 0.2s;
}

.publication:hover{
    scale: 1.04;
    translate: 0px -10px;
    box-shadow: 5px 15px 25px 0 rgba(0,0,0,.4);
}

.publication img{
    width: 100%;
    height: 100%;   
}

#expand-publications{
    display: block;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 100px;
    border: none;
    background-color: lightgray;
}

#expand-publications:hover{
    background-color: #1e104a;
    color: white;
}

footer {
    color: white;
    background: linear-gradient(180deg, #000000 0%, #1e104a 59.39%, #481f69 85%, #623920 100%);
}

.officers{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 40px 0px;
}

.officer-section{
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-bottom: 25px;
}

.officer-section h3{
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #a79bd3;
    font-weight: 600;
}

footer input{
    width: 40%;
    margin: 10px 0px;
}