/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,700;0,7..72,900;1,7..72,400;1,7..72,700;1,7..72,900&family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap");

/* Defaults */
html, body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
